* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
    min-height: 100%;
    background: linear-gradient(rgba(30, 2, 32), rgb(70, 2, 75));
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: 'Poppins',
        sans-serif;
    font-weight: 400;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.heading {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    flex-wrap: wrap;
}
.main {
    min-height: 65vh;
    width: 100vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    flex-wrap: wrap;
}
.main img {
    position: fixed;
    animation: stars 3s infinite ease-in-out alternate-reverse;
    z-index: -1;
}
@keyframes stars {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
.countdown {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
}
.countdown-format {
    margin: 1rem;
    color:rgb(245, 41, 160);
    background: transparent;
    height: 5rem;
    width: 5rem;
    display: grid;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
}
.countdown-format h4 {
    font-size: 2.5rem;
    padding: 1rem;
}
.countdown-format span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
    color: white;
}
.footer {
    margin: auto;
    padding: 1rem;
    width: 100vw;
    background: url(./images/pattern-hills.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.footer a {
    margin: 2rem;
}
.icon{
    background-color: transparent;
    transition: 0.4s ease-in-out;
}
.icon:hover {
    cursor: pointer;
    transform: scale(1.6);
}
